:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --tertiary-color: #ffffff;
  --accent-color: #2196f3;
  --card-set-gap: 30px;
}

body {
  font-family: Roboto, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}
.header > .container {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__list {
  gap: 50px;
  display: none;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    display: flex;
  }
}

.header__contacts {
  margin-left: auto;
  display: none;
  align-items: center;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .header__contacts {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

.header__web {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header__logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}

.header__mail {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__mail:hover, .header__mail:focus {
  color: var(--accent-color);
}

.header__tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__tel:hover, .header__tel:focus {
  color: var(--accent-color);
}

.header__contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header__btn {
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .header__btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__btn {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: var(--tertiary-color);
  top: 0;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}
.mob-menu > .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: auto;
}

.menu-close {
  display: block;
  margin-left: auto;
  margin-bottom: 8px;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close:hover, .menu-close:focus {
  fill: var(--accent-color);
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-link:hover, .mob-menu-link:focus {
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.mob-menu-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  display: block;
  margin-bottom: 32px;
}
.mob-menu-tel:hover, .mob-menu-tel:focus {
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.mob-menu-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-mail:hover, .mob-menu-mail:focus {
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.mob-soc {
  display: flex;
  margin-top: 64px;
  gap: 10px;
}

.mob-soc-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mob-soc-link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mob-soc-link:hover, .mob-soc-link:focus {
  border-bottom: 1px solid var(--accent-color);
}
@media screen and (min-width: 480px) {
  .mob-soc-link {
    font-size: 18px;
    line-height: 1.22;
  }
}

.current {
  color: var(--accent-color);
  position: relative;
}
.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background: #2196f3;
  border-radius: 2px;
}

.current__mob-menu {
  color: var(--accent-color);
}

.hero {
  width: 100%;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-1px-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-2px-mob.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    width: 100%;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-1px-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-2px-tab.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-top: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-2px-dt.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tertiary-color);
  max-width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--tertiary-color);
  background-color: var(--accent-color);
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 4px;
  border-color: transparent;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .features {
    padding: 60px 15px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__background {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
}
@media screen and (min-width: 768px) {
  .features__background {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__background {
    width: 270px;
  }
}

.features__icons {
  fill: currentColor;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__item {
  width: 100%;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .features__title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.features__after-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.activities {
  display: none;
}
@media screen and (min-width: 1200px) {
  .activities {
    display: block;
    padding-bottom: 94px;
  }
}

.activities__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.activities__list {
  display: flex;
  gap: 30px;
}

.activities__item {
  position: relative;
}

.activities__text {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tertiary-color);
  width: 100%;
  bottom: 0px;
  left: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

.team {
  background-color: #f5f4fa;
  padding: 60px 15px;
}
@media screen and (min-width: 768px) {
  .team {
    padding: 60px 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.team__box {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
  margin-top: 0px;
}

.team__text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.team__social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team__social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-link:hover, .team__social-link:focus {
  background-color: var(--accent-color);
  color: var(--tertiary-color);
}

.team__social-icon {
  fill: currentColor;
}

.clients {
  padding: 60px 15px;
}
@media screen and (min-width: 768px) {
  .clients {
    padding: 60px 15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__logo {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .footer {
    padding-top: 60px;
  }
}

.footer__wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrap {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__box {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    margin-right: 90px;
  }
}

.footer__logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--tertiary-color);
  display: block;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
  }
}

.footer__web {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer__contacts {
  font-style: normal;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    text-align: left;
  }
}

.footer__address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--tertiary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__address {
    margin-bottom: 9px;
  }
}
.footer__address:hover, .footer__address:focus {
  color: var(--accent-color);
}

.footer__mail {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__mail {
    margin-bottom: 9px;
  }
}
.footer__mail:hover, .footer__mail:focus {
  color: var(--accent-color);
}

.footer__tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__tel:hover, .footer__tel:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .footer__soc-box {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__soc-box {
    margin-right: 93px;
  }
}

.footer__soc-join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tertiary-color);
  margin-bottom: 20px;
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__soc-join {
    text-align: left;
  }
}

.footer__soc {
  display: flex;
  gap: 10px;
}

.footer__soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--tertiary-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__soc-link:hover, .footer__soc-link:focus {
  background-color: var(--accent-color);
}

.footer__soc-icon {
  fill: currentColor;
}

.subscribe__section {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

@media screen and (min-width: 767px) {
  .subscribe__form {
    margin-top: 60px;
  }
}

.sub__correct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .sub__correct {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
}

.subscribe__name {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tertiary-color);
}
@media screen and (min-width: 1200px) {
  .subscribe__name {
    text-align: left;
  }
}

.subscribe__input {
  display: block;
  padding-left: 16px;
  height: 50px;
  width: 90vw;
  max-width: 450px;
  border-color: rgba(255, 255, 255, 0.3019607843);
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  color: var(--main-color);
}
.subscribe__input:focus-visible {
  outline-color: var(--accent-color);
}
.subscribe__input:not(:placeholder-shown):required:valid {
  border-color: var(--accent-color);
}
.subscribe__input:not(:placeholder-shown):required {
  border-color: red;
}
@media screen and (min-width: 480px) {
  .subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}

.subscribe__button {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--tertiary-color);
  cursor: pointer;
}
.subscribe__button:hover, .subscribe__button:focus {
  background-color: #188ce8;
}

.subscribe__icon {
  margin-left: 10px;
  fill: var(--tertiary-color);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90vw;
  min-height: 609px;
  border-radius: 4px;
  background-color: var(--tertiary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 12px;
}

.modal__close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover, .modal__close:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border-color: var(--accent-color);
}

.input__wrap {
  position: relative;
}

.input__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .input__icon {
  fill: var(--accent-color);
}

.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
  display: block;
  margin-bottom: 4px;
}

.modal__data {
  margin-bottom: 10px;
}

.modal__text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__text:focus {
  border-color: var(--accent-color);
}
.modal__text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 1200px) {
  .modal__text {
    width: 448px;
    height: 120px;
  }
}

.modal__comment {
  margin-bottom: 20px;
}

.modal__policy {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
}

.modal__check {
  margin-top: 10px;
  margin-bottom: 30px;
}

.check__text {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.check__text span {
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 2px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__check:checked + .check__text span {
  background-color: var(--accent-color);
  border: none;
}
.modal__check:focus + .check__text span {
  border-color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .check__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.conditions {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .conditions {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check__icon {
  opacity: 0;
}
.modal__check:checked + .check__text .check__icon {
  fill: #ffffff;
  opacity: 1;
}

.submit__btn {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--tertiary-color);
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit__btn:hover, .submit__btn:focus {
  background-color: #188ce8;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 8px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__list {
    margin-bottom: 50px;
  }
}

.portfolio__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  color: var(--tertiary-color);
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works__img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.works__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .works__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.works__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .works__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .works__item {
    width: calc((100% - 60px) / 3);
  }
}

.works__cover-wrap {
  position: relative;
  overflow: hidden;
}

.works__cover-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: var(--tertiary-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  flex-grow: 1;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works__item:hover .works__cover-text {
  transform: translateY(0%);
}
@media screen and (max-width: 380px) {
  .works__cover-text {
    font-size: 15px;
    line-height: 1.4;
    padding-top: 30px;
    padding-bottom: 35px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.works__box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  flex-grow: 1;
}

.works__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}

.works__field {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.works {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works:hover, .works:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}/*# sourceMappingURL=main.css.map */