.subscribe__section {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.subscribe__form {
  @media screen and (min-width: 767px) {
    margin-top: 60px;
  }
}

.sub__correct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  @media screen and (min-width: 1200px) {
    display: flex;

    flex-direction: row;
    gap: 12px;
  }
}
.subscribe__name {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tertiary-color);
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.subscribe__input {
  display: block;
  padding-left: 16px;
  height: 50px;
  width: 90vw;
  max-width: 450px;
  border-color: #ffffff4d;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  color: var(--main-color);

  &:focus-visible {
    outline-color: var(--accent-color);
  }

  &:not(:placeholder-shown):required:valid {
    border-color: var(--accent-color);
  }

  &:not(:placeholder-shown):required {
    border-color: red;
  }
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.subscribe__button {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--tertiary-color);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.subscribe__icon {
  margin-left: 10px;
  fill: var(--tertiary-color);
}
